@charset "utf-8";
/* CSS Document */

/*Imagen de Fondo*/

body
{
	
	background: url( ../img/cordillera.jpg) no-repeat fixed; 
	-webkit-background-size: cover ;
	-moz-background-size: cover ;
	-o-background-size: cover ;
	background-size: cover;
		
}

nav{
	height: auto;
}

.logo{
	
	height: 150px;
}

/* Establecemos los colores de cada red social, aprovechando su class */

    .facebook {background:#3b5998 !important;} 
	.twitter {background: #00abf0 !important;}
	.googleplus {background: #d95232 !important;}
	.pinterest {background: #ae181f !important;}
	.instagram {background: #666666 !important;}

.btn-size{
	width: 30px !important;
 	
}

.eslogan{
	color: white;
	font-family:"alex-brush";
	margin-left: 60px;
	margin-top: 90px;
}
 
h5{
	width: 100%;
}

.lugares1{
	width: 350px;
	height: 200px;
	}

.lugares2{
	width: 260px;
	height: 420px;
	}
.foto{
	width: 200px;
	height: 200px;
}
